[Desktop Entry]
Encoding=UTF-8
Name=ScreenShot-L
Exec=/usr/bin/screenshotl
Terminal=false
Type=Application
Categories=Application;
Comment=LanGong ScreenShot-L
Icon=/usr/share/screenshotl/LanGong131.png
